# Ignore everything
*

# But not Java files...
!.gitignore
!*.java

# ...even if they are in subdirectories
!*/

# ...and not Markdown files
!*.md

# Don't ignore resources
!/src/main/resources/*
!/imgs/*